################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/WakeOnLanCmdlet/bin
/WakeOnLanCmdlet/obj/
*.suo
